.swiper {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.swiper-slide {
  background: #fff;
}

.swiper_image_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 700px;
  height: 650px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
  width: 75px;
  height: 75px;
  border: 2px solid rgb(200, 179, 179);
  font-size: small;
  transition: all 500ms ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--accent-color);
  color: white;
}

.swiper-button-prev:after,
.swiper-button-next:after  {
  font-size: var(--fontSize2);
}

.slide_explanation {
  background-color: var(--accent-color);
  color: white;
  display: grid;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  font-family: 'Jost', sans-serif; 
  height: auto;
}

.swiper_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 15%;
  text-align: center;
}

.swiper_header_title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: var(--fontSize4);
  line-height: 1.167em;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.swiper_header_explanation {
  font-family: 'Dancing Script', cursive;
  font-size: var(--fontSize2);
  opacity: 0.50;
  margin: 2.5rem 0;
}